// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

$main-primary-yellow: #FD4B1B;
$main-primary-purple: #583BEE;
$main-primary-black: #0A083A;
