$primary-color: #230158;

#home-navbar {
  position: fixed;
  top: 0;
  z-index: 10;

  .burger-menu-wrapper {
    background-color: $primary-color;
    height: 94vh;
    position: fixed;
    top: 60px;
    left: 0;
  }
}



